@model List<Actor>;

@{
    ViewData["Title"] = "Attori";

    Layout = "_EditorLayout";
}

<a asp-action="Create" asp-controller="Actor">Crea nuovo</a>
<h2>Lista attori</h2>

<hr />

@if(Model.Count == 0){
    <div class="alert alert-primary" role="alert">
        Non sono presenti attori.
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Actor actor in Model)
            {
                <tr>
                    <th scope="row">@actor.Id</th>
                    <td>@actor.Name</td>
                    <td>@actor.Surname</td>
                    <td>
                        <a href="@Url.Action("Edit", "Actor", new {id = actor.Id})" class="btn btn-primary">Modifica</a>
                        <form asp-controller="Actor" asp-action="Delete" asp-route-id="@actor.Id" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Elimina</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


