@model List<Film>;

@{
    ViewData["Title"] = "Film";

    Layout = "_EditorLayout";
}

<a asp-action="Create" asp-controller="Film">Crea nuovo</a>
<h2>Lista film</h2>

<hr />

@if (Model.Count == 0)
{
    <div class="alert alert-primary" role="alert">
        Non sono presenti film.
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titolo</th>
                <th scope="col">Durata</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Film film in Model)
            {
                <tr>
                    <th scope="row">@film.Id</th>
                    <td>@film.Title</td>
                    <td>@film.Duration</td>
                    <td>@film.Description</td>
                    <td>
                        <a href="@Url.Action("Edit", "Film", new {id = film.Id})" class="btn btn-primary">Modifica</a>
                        <form asp-controller="Film" asp-action="Delete" asp-route-id="@film.Id" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Elimina</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
